<footer class="footer-section">
    <div class="copyright-area">
        <div class="container-footer">
            <div class="row-footer">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2020, todos los derechos reservados <a href="index.html">PETSHOP</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li>
                                <a routerLink="/us" routerLinkActive="router-link-active">
                                    Nosotros    
                                </a>
                            </li>
                            <li>
                                <a routerLink="/products" routerLinkActive="router-link-active">
                                    Productos
                                </a>
                            </li>
                            <li>
                                <a routerLink="/contact" routerLinkActive="router-link-active">
                                    Contacto
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
