
<div class="container">
    <div class="columna1">
        <h2>Nosotros</h2>
        <div>
            <p>PET SHOP es una tienda virtual, aquí te vas a encontrar muchísima variedad de productos para tu mascota. </p><br>
            <p>Hemos tenido siempre como prioridad ofrecer productos variados y de calidad para nuestras mascotas, a precios accesibles y acompañado por un servicio al cliente de primera. </p><br>
            <p>La creación de una comunidad de clientes leales ha ayudado a Pet Shop a crecer y convertirse en la empresa que somos ahora. No solo somos una tienda virtual, nuestra empresa y todo nuestro equipo nos preocupamos y apoyamos a asociaciones, albergues y fomentamos la tenencia responsable de mascotas.</p><br>
        </div>
    </div>
    <div class="columna2">
        <img src="assets/img/nosotros.jpg">
    </div>
</div>