<div class="container-productos" id="lista-productos">

  <ng-container *ngFor="let product of products | filterPipe:filter:'name'">
    <div class="card">
      <img [src]="product.image" class="card-img">
      <h5>{{product.name}}aa</h5>
      <p>SKU: {{product.sku}}</p>
      <p>Stock: {{product.stock}}</p>
      <p>S/.<small class="precio">{{product.price}}</small></p>
      <button class="button agregar-carrito" (click)="agregar(product)">Comprar</button>
    </div>
  </ng-container>
</div>

