
/*productos-card*/
.container-productos{
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 100px;

}
.container-productos .card{
  width: 260px;
  height: 390px;
  background: #4E5D6C;
  color:#f2f2f2;
  border-radius: 8px;
  border:1px solid  #DF691A;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  align-items: center;
  transition: all 0.25s;
}
.container-productos .card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}
.container-productos .card img{
  width: 260px;
  height: 190px;
  cursor: pointer;
}
.container-productos .card h5{
  font-weight: 600;
  padding: 5px;
}
.container-productos .card p{
  padding-top: 5px;
}
.container-productos .card a{
  padding:10px;
  display: block;
  width: 50%;
  margin: 0 auto;
}
