<div class="slider">
  <ul>
    <li><img src="assets\img\slide1.jpg" alt="..."></li>
    <li><img src="assets\img\slide2.jpg" alt="..."></li>
    <li><img src="assets\img\slide3.jpg" alt="..."></li>
  </ul>
</div>


<div class="container-index">

  <div class="container-circulos">
    <div class="container-imagen">
      <img src="assets/img/alimentos.jpg" class="circulo">
      <h2>Alimentos</h2>
    </div>
    <div class="container-imagen">
      <img src="assets/img/ropa.jpg" class="circulo">
      <h2>Ropa</h2>
    </div>
    <div class="container-imagen">
      <img src="assets/img/juguetes.jpg" class="circulo">
      <h2>Juguetes</h2>
    </div>
  </div>

  <div class="ver-todo">
    <a class="button" href="productos.html">Ver todos</a>
  </div>

  <div class="contenedor-columna">
    <div class="columna1">
      <h2>SOBRE PETSHOP </h2>
      <p>En PET SHOP nuestro equipo trabaja constantemente con energía y entusiasmo para nuestros clientes y sus mascotas. Nos encanta lo que hacemos y eso se refleja no solo en nuestros servicios, sino también en la forma en que construimos relaciones con nuestros clientes.</p>
    </div>
    <div class="columna2">
      <img src="assets/img/index.png">
    </div>
  </div>

</div>
